[submodule "extention"]
	path = extention
	url = https://github.com/maaasyn/crumbs-extention
[submodule "contracts"]
	path = contracts
	url = https://github.com/maaasyn/crumbs-contracts
[submodule "offchain"]
	path = offchain
	url = https://github.com/maaasyn/crumbs-offchain